<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>업무 편집</h2>
    <form th:action="@{'/projects/' + ${projectId} + '/tasks/'+${task.id()}+'/edit'}" method="post" th:object="${task}">
        <div class="form-group">
            <label for="name">제목</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="제목을 입력해 주세요." required>
        </div>

        <div class="form-group">
            <label for="status" class="form-label">업무 상태</label>
            <select class="form-select" id="status" th:field="*{status}">
                <option th:each="status : ${statuses}" th:value="${status.name()}" th:text="${status.taskDescription}">상태</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tag">태그</label>
            <select class="form-control" id="tag" name="tag">
                <option value="">선택해 주세요</option>
                <!-- 서버에서 받아온 태그 리스트를 반영 -->
                <th:block th:each="tag : ${tags}">
                    <option th:value="${tag.id}" th:text="${tag.name}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group2">
            <label for="milestone">마일스톤</label>
            <select class="form-control" id="milestone" name="milestone">
                <option value="">선택해 주세요</option>
                <th:block th:each="milestone : ${milestones}">
                    <option th:value="${milestone.milestoneId}" th:text="${milestone.milestoneName}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label for="description">내용</label>
            <textarea class="form-control" id="description" name="description" rows="5" placeholder="내용 입력"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
